/* ==========================================================================

	LAYOUT

========================================================================== */

/* =======================================
	BEGIN NESTING
======================================= */

#lp-wrapper{
	margin: -30px auto 100px;
	max-width: 1170px;
	padding-bottom: 30px;
	-webkit-text-size-adjust:none;
	width: 100%;

	*{
		box-sizing: border-box;
	}

	@media only screen and(max-width: 979px) {
		margin-bottom: 50px;
	}

/* ------------------------------------ */

//HEADER

.lp-header{
	height: 409px;
	max-width: 1170px;
	position: relative;				// HEADER POSITIONING-SCOPE
	width: 100%;

	@media only screen and (max-width: 1199px){
		height: 329px;
	}

	@media only screen and (max-width: 979px){
		height: 253px;
	}

	@media only screen and (max-width: 767px){
		border-bottom: none;
		z-index: 0;
	}
}

.lp-header-logo{
	position: absolute;
		bottom: 24px;
		left: 48.7%;
	width: percentage(190/1170);

	@media only screen and(max-width: 1199px){
		position: absolute;
			bottom: 15px;
	}

	@media only screen and(max-width: 767px){
		position: absolute;
			left: 36%;
			bottom: 11px;
		width: percentage(100/360);
	}
}

.lp-header-technicals{
	line-height: 2.1em;
	margin-bottom: 0;
	position: absolute;
		bottom: 17px;
		left: 33%;

	@media only screen and(max-width: 1199px){
		position: absolute;
			bottom: 7px;
			left: 32%;
	}

	@media only screen and(max-width: 979px){
		position: absolute;
			bottom: 7px;
			left: 31.5%;
	}

	@media only screen and(max-width: 767px){
		margin-left: 0;
		position: absolute;
			bottom: 7px;
			left: 14px;
	}
}

// SUBHEADER

.lp-subheader{
	margin: 50px auto 0;
	width: percentage(870/1170);

	@media only screen and(max-width: 979px) {
		margin-top: 30px;
	}

	@media only screen and(max-width: 767px) {
		width: 90%;
	}
}

// MAIN NAV
.lp-main-navigation{
	//display: none;						// TIJDELIJK HIDEN NAVIGATIE
	//height: 38px;
	margin: 30px auto;
	width: 80%;

	.lp-cta-list{
		margin: 0;
	}

	li{
		float: left;
		width: 20.5%;

		&+ li{
			margin-left: 6%;

			@media only screen and(max-width: 767px) {
				margin-left: 0;
			}
		}

		a{
			display: block;
			height: 100%;
			padding: 0 10px;
			width: 100%;
		}

		@media only screen and(max-width: 767px) {
			float: inherit;
			margin-bottom: 10px;
			width: 100%; 
		}
	}

	@media only screen and(max-width: 767px) {
		margin-bottom: 0;
	}
}

// COMBINATION

.lp-combination-container{
	height: 800px;
	margin-top: 50px;
	padding: 1.875em 1.25em;
	position: relative;				// COMBINATION CONTAINER POSITIONING-SCOPE
	width: 100%;
	z-index: 1;

	&+ .lp-combination-container{
		margin-top: 100px;

		@media only screen and(max-width: 979px) {
			margin-top: 50px;
		}
	}

	&:after{
		clear: both;
		content: "";
		display: table;
	}

	@media only screen and(max-width: 1199px) {
		height: 643px;	
	}

	@media only screen and(max-width: 979px) {
		height: 496px;
		margin-top: 30px;
	}

	@media only screen and(max-width: 767px) {
		height: 784px;
		padding: 10px;
	}
}

.lp-combination-title{
	height: 42px;
	margin: 0 auto;
	width: percentage(170/1130);

	@media only screen and(max-width: 767px) {
		width: percentage(100/360);
	}
}

.lp-combination{
	height: 300px;
	margin: 25px auto 0;
	position: relative;				// COMBINATION POSITIONING-SCOPE
	width: 100%;

	&+ .lp-combination{
		margin-top: 85px;
	}

	@media only screen and(max-width: 1199px){
		height: 255px;
		margin-top: 7px;

		&+ .lp-combination{
			margin-top: 40px;
		}
	}

	@media only screen and(max-width: 979px){
		height: 196px;
		margin-top: -10px;

		&+ .lp-combination{
			margin-top: 35px;
		}
	}

	@media only screen and(max-width: 767px){
		height: 320px;
		margin-top: -22px;

		&+ .lp-combination{
			margin-top: 70px;
		}
	}
}

.lp-gender-indicator{
	max-width: percentage(173/1130);
	position: absolute;
		top: -20px;
		left: 0;

		@media only screen and(max-width: 979px) {
			position: absolute;
				top: 0;
		}

		@media only screen and(max-width: 767px) {
			max-width: percentage(100/360);
			position: absolute;
				top: -9px;
		}
}

.lp-product-container{
	float: left;
	height: 94%;
	position: relative;
		bottom: -20px;
	width: percentage(370/1130);

	&+ .lp-product-container{
		margin-left: percentage(43/1130);
	}

	&:after{
		clear: both;
		content: "";
		display: table;
	}

	@media only screen and(max-width: 979px) {
		height: 88%;
	}

	@media only screen and(max-width: 767px) {
		height: 37%;
		width: 48%;
	}
}

.lp-product-image, .lp-product-info{
	float: left;
}

.lp-product-image{
	margin-right: 1.4em;
	max-width: percentage(200/370);
	position: absolute;
		bottom: 15px;
	z-index: 10;

	@media only screen and(max-width: 979px) {
		position: absolute;
			bottom: 0;
	}
}

.lp-product-info{
	float: right;
	position: relative;
	width: percentage(150/370);
	height: 100%;

	@media only screen and(max-width: 979px) {
		width: percentage(91/227);
	}
}

.lp-product-name{
	margin-top: 30px;
	color: #292929;
	@media only screen and(max-width: 1199px){
		margin-top: 10px;
	}

	@media only screen and(max-width: 979px){
		margin-top: 0;
	}
}

.lp-pricelabel{
	display: inline-block;
	margin-top: 30px;

	.lp-pricelabel-top{
		padding: 4px;
		margin-bottom: 1px;
	}

	.lp-pricelabel-pricetype, .lp-pricelabel-initial{
		display: block;
	}

	@media only screen and(max-width: 979px) {
		margin-top: 20px;
	}

	@media only screen and(max-width: 767px) {
		margin-top: 10px;
	}
}

.lp-swatches{
	position: absolute;
		bottom: 2em;
	width: 100%;

	.lp-swatch{
		float: left;
		height: 30px;
		width: percentage(30/150);

		&+ .lp-swatch{
			margin-left: 5px;

			@media only screen and(max-width: 767px) {
				margin-left: 3px;
			}
		}

		@media only screen and(max-width: 1199px){
			height: 24px;
		}

		@media only screen and(max-width: 979px){
			height: 18px;
		}

		@media only screen and(max-width: 767px){
			height: 13px;
		}
	}

	@media only screen and(max-width: 979px) {
		position: absolute;
			bottom: 0;
	}
}

.lp-combo-container{
	float: right;
	margin-right: 50px;
	position: relative;
	width: percentage(230/1130);

	&:after{
		clear: both;
		content: "";
		display: table;
	}

	.lp-pricelabel{
		border: 1px solid #A2AEB0;
		position: absolute;
			right: -50px;
			top: 75px;

		.lp-pricelabel-top{
			border-bottom: 1px solid #A2AEB0;
			margin-bottom: 0;
		}

		@media only screen and(max-width: 1199px){
			position: absolute;
				top: 49px;
		}

		@media only screen and(max-width: 979px){
			position: absolute;
				top: 32px;
				right: -25px;
		}

		@media only screen and(max-width: 767px){
			position: absolute;
				top: 32px;
				right: 114px;
		}
	}

	@media only screen and(max-width: 979px) {
		margin-right: 25px;
		max-height: 100%;
		width: percentage(153/694);
	}

	@media only screen and(max-width: 767px) {
		margin-right: 0;
		margin-top: 40px;
		width: 100%;
	}
}

.lp-combo-image{
	max-width: 100%;

	@media only screen and(max-width: 767px) {
		max-width: 43%;
	}
}

.lp-pin{
	margin-left: -10px;
	position: absolute;
		top: -15px;
		left: 50%;

	@media only screen and(max-width: 767px) {
		height: 10px;
		position: absolute;
			top: -5px;
			left: 24%;
		width: 10px;
	}
}



/* ------------------------------------ */

}

/* =======================================
	END NESTING
======================================= */