/* ==========================================================================

	THEME

========================================================================== */

/* =======================================
	BEGIN NESTING
======================================= */

#lp-wrapper{
	color: #292929;
	font-size: 16px;
	font-family: 'Open Sans';
	line-height: 1.5;

	h1, h2, h3, h4, h5, h6, p{
		line-height: 1.5;
	}

	h1{
		font-size: 32px;

		@media only screen and(max-width: 1199px){
			font-size: 26px;
		}

		@media only screen and(max-width: 1199px){
			font-size: 21px;
		}
	}

	h2{
		font-size: 30px;
	}

	h3{
		font-size: 28px;
	}

	h4{
		font-size: 26px;
	}

	h5{
		font-size: 89%;
		font-weight: bold;
		margin-bottom: 0;

		@media only screen and(max-width: 1199px){
			font-size: 80%;
		}
	}

	p{
		font-size: 16px;

		@media only screen and(max-width: 1199px){
			font-size: 14px;
		}

		@media only screen and(max-width: 979px){
			font-size: 12px;
		}
	}

	@media only screen and(max-width: 1199px){
		font-size: 14px;
	}

	@media only screen and(max-width: 979px){
		font-size: 12px;
	}

	// underline color:red
	.underline {
		color: #c71313;
	}

/* ------------------------------------ */

// HEADER
.lp-header{
	background: url(http://static.asadventure.com/includes/landingpage/ayacucho-promo/images/header.jpg) no-repeat;
	background-size: contain;

	&:after{
		background: url(http://static.asadventure.com/includes/landingpage/ayacucho-promo/images/schaduw.png) no-repeat center center;
		background-size: contain;
		content: "";
		height: 30px;
		max-width: 1170px;
		position: absolute;
			bottom: -29px;
		width: 100%;
		z-index: 0;

		@media only screen and (max-width: 1199px) {
			bottom: -25px;
		}

		@media only screen and (max-width: 979px) {
			bottom: -23px;
		}

		@media only screen and (max-width: 767px) {
			display: none;
		}
	}

	@media only screen and (max-width: 767px) {
		background: url(http://static.asadventure.com/includes/landingpage/ayacucho-promo/images/header_mobile@2x.jpg) no-repeat center center;
		background-size: contain;
	}
}

.lp-header-technicals{
	color: #ffffff;
	font-size: 13px;
	line-height: 2em;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.3);

	@media only screen and(max-width: 979px){
		font-size: 10px;
	}

	li{
		list-style-type: none;
	}

	.lp-icon{
		&:before{
			content: "";
			display: inline-block;
			height: 18px;
			margin-right: 10px;
			position: relative;
				bottom: -3px;
			width: 18px;

			@media only screen and (max-width: 979px){
				height: 15px;
				margin-right: 7px;
				width: 15px;
			}
		}
	}

	.lp-icon-waterresist{
		&:before{
			background: url(http://static.asadventure.com/includes/landingpage/ayacucho-promo/images/waterdicht.png);
			background-size: contain;
		}
	}

	.lp-icon-windresist{
		&:before{
			background: url(http://static.asadventure.com/includes/landingpage/ayacucho-promo/images/winddicht.png);
			background-size: contain;
		}
	}

	.lp-icon-breathing{
		&:before{
			background: url(http://static.asadventure.com/includes/landingpage/ayacucho-promo/images/ademend.png);
			background-size: contain;
		}
	}

	.lp-icon-insulating{
		&:before{
			background: url(http://static.asadventure.com/includes/landingpage/ayacucho-promo/images/isolerend.png);
			background-size: contain;
		}
	}
}

// SUBHEADER
.lp-subheader{
	text-align: center;
}

// MAIN NAV
.lp-main-navigation{

	&:after{
		clear: both;
		content: "";
		display: table;
	}

	li{
		list-style-type: none;

		a{
			background: url(http://static.asadventure.com/includes/landingpage/ayacucho-promo/images/bg_cta.gif);
			border: 1px solid #627321;
			color: #ffffff;
			font-size: 14px;
			line-height: 38px;
			text-decoration: none;
			text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
			transition: all .3s;

			&:after{
				content: "";
				float: right;
				font-family: "FontAwesome";
			}
		}
	}
}

// COMBINATION
.lp-combination-container{
	background: url(http://static.asadventure.com/includes/landingpage/ayacucho-promo/images/section_bg.jpg);
	background-size: contain;

	&:after{
		background: url(http://static.asadventure.com/includes/landingpage/ayacucho-promo/images/schaduw.png) no-repeat center center;
		background-size: contain;
		content: "";
		height: 30px;
		max-width: 1170px;
		position: absolute;
			bottom: -29px;
			left: 0;
		width: 100%;
		z-index: 0;

		@media only screen and(max-width: 1199px){
			position: absolute;
			bottom: -26px;
		}

		@media only screen and(max-width: 979px){
			position: absolute;
			bottom: -23px;
		}

		@media only screen and(max-width: 979px){
			position: absolute;
			bottom: -19px;
		}
	}

	@media only screen and (max-width: 767px) {
		background: url(http://static.asadventure.com/includes/landingpage/ayacucho-promo/images/section_bg_mobile@2x.jpg);
		background-size: contain;
	}
}

.lp-combination-title{
	color: transparent;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px;
}

.lp-combination-title-jd{
	background: url(http://static.asadventure.com/includes/landingpage/ayacucho-promo/images/titel_jas_donsjas.png) no-repeat;
	background-size: contain;
}


.lp-combination-title-jf{
	background: url(http://static.asadventure.com/includes/landingpage/ayacucho-promo/images/titel_jas_fleece.png) no-repeat;
	background-size: contain;
}

// FR COPY

.lp-combination-title-vv{
	background: url(http://static.asadventure.com/includes/landingpage/ayacucho-promo/images/titel_veste_duvet.png) no-repeat;
	background-size: contain;
}

.lp-combination-title-vp{
	background: url(http://static.asadventure.com/includes/landingpage/ayacucho-promo/images/titel_veste_polaire.png) no-repeat;
	background-size: contain;
}

// EN COPY

.lp-combination-title-cd{
	background: url(http://static.asadventure.com/includes/landingpage/ayacucho-promo/images/titel_coat_down.png) no-repeat;
	background-size: contain;
}

.lp-combination-title-cf{
	background: url(http://static.asadventure.com/includes/landingpage/ayacucho-promo/images/titel_coat_fleece.png) no-repeat;
	background-size: contain;
}

.lp-combination{
	//background: rgba(0,0,0,0.05);
}

.lp-pricelabel{
	color: #ffffff;
	text-align: center;

	.lp-pricelabel-top{
		background: #3D3D3D;
		box-shadow: inset 0 0 15px rgba(0,0,0,0.8);

		.lp-pricelabel-pricetype{
			font-weight: bold;
			text-transform: uppercase;
		}

		.lp-pricelabel-initial{
			font-size: 80%;
			text-decoration: line-through;
		}
	}

	.lp-pricelabel-bottom{
		background: #AA171C;
		box-shadow: inset 0 0 15px rgba(0,0,0,0.5);

		.lp-pricelabel-actual{
			font-size: 162.5%;
			line-height: 32px;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.3);

			@media only screen and(max-width: 767px) {
				line-height: 20px;
			}
		}
	}

	.currency{
		font-size: .6em;
		font-weight: 100;
		margin-right: 2px;
	}

	@media only screen and(max-width: 767px) {
		font-size: .8em;
	}
}

.lp-swatches{
	.lp-swatch{
		border: 2px solid #ffffff;
		border-radius: 50%;
		box-shadow: 1px 1px 3px rgba(0,0,0,0.4);

		@media only screen and(max-width: 1199px){
			border: 1px solid #ffffff;
		}

		&.lp-swatch-lightblue{
			background: #2294DC;
		}

		&.lp-swatch-turquoise{
			background: #6AD0C8;
		}

		&.lp-swatch-greenblue{
			background: #2C7D99;
		}

		&.lp-swatch-red{
			background: #BE232B;
		}

		&.lp-swatch-black{
			background: #202022;
		}

		&.lp-swatch-oilblue{
			background: #4C7D9C;
		}

		&.lp-swatch-gray{
			background: #9493A9;
		}

		&.lp-swatch-blue{
			background: #1D61BE;
		}

		&.lp-swatch-darkgray{
			background: #7B7B78;
		}
	}
}

// COMBO

.lp-combo-container{

}

.lp-combo-image{
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.lp-pin{

}

/* ------------------------------------ */

}

/* =======================================
	END NESTING
======================================= */